Body {
    background-image: url("../image/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: grey;
}

.ActiveMe {
    color: rgb(90, 7, 138)!important;
    font-weight: bold;
}

.centerPerso {
    text-align: center;
}

.rightPerso {
    text-align: right;
}

.leftPerso {
    text-align: left;
}
.marginTop17 {
    margin-top: 17%;
}
.marginTop15 {
    margin-top: 15%;
}
.marginTop10 {
    margin-top: 10%;
}

.marginTop7 {
    margin-top: 7%;
}

.marginTop5 {
    margin-top: 5%;
}

.marginTop3 {
    margin-top: 3%;
}

.marginTop2 {
    margin-top: 2%;
}

.marginBot10 {
    margin-bottom: 10%;
}

.marginBot5 {
    margin-bottom: 5%;
}

.alignLeft {
    text-align: left;
}

.textBackGround002 {
    background-color: rgb(0, 0, 0, 0.2);
}

.souligner {
    text-decoration: underline;
}

h1, h2, h3 {
    text-decoration: underline;
    color: rgb(65, 62, 62);
    font-weight: bold;
}

p {
    font-weight: bold;
}

.textBold {
    font-weight: bold;
}

.textColorWhite {
    color: white;
}

.textColorGray {
    color: gray;
}

.textColorBlack {
    color: black;
}



/*Debut NavBar*/

#mainNav {
    min-height: 56px;
    background-color: rgb(66, 66, 83);
    text-align: center;
    opacity: 0.95;
}

#js-scroll-trigger {
    color: white!important;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: .75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
    outline: 0;
}

#mainNav .navbar-brand {
    color: white;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: 0;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: 0;
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        opacity: 0.9;
        transition: background-color .3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: white;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 1.5rem 1rem;
        color: white;
    }
    #mainNav .nav-link:hover {
        color: rgba(243, 4, 4, 0.75)!important;
    }
    #mainNav .nav-link:active {
        color: #fff;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: 0;
        border-bottom: .25rem solid #64a19d;
        margin-bottom: 5%;
    }
}

@media (max-width: 767px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        opacity: 0.9;
        transition: background-color .3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: white;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 1.5rem 1rem;
        color: white;
    }
    #mainNav .nav-link:hover {
        color: rgba(243, 4, 4, 0.75)!important;
    }
    #mainNav .nav-link:active {
        color: #fff;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: 0;
        border-bottom: .25rem solid #64a19d;
        margin-bottom: 5%;
    }
    body{
        margin-top: 5%;
    }
    .bodyCV{
        margin-top: 8%;
    }

}


#mainNav .nav-link:hover {
    color: blue;
    font-weight: bold;
}

#navbar-collapse {
    color: red!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


/* Fin NavBar */

/* Debut menu déroulant */
/* Menu déroulant */

.dropbtn {
    background-color: rgb(83, 16, 122);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding-right: 45px;
    padding-left: 45px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: blue;
}
/* Fin menu déroulant */ 

/* Debut card */

.card-header{
    border-bottom: 3px solid gray;
}

.text-secondary {
    color: gray!important;
}

.card {
    background-color: transparent;
    border: 5px solid gray;
    border-style: inset;
}

.border-success {
    border-top: 3px solid gray!important;
}

.cardInsideCard{
    border-left: transparent;
    border-right: transparent;
}

.cardinsideLastCard{
    border-bottom: transparent;
}

/* Fin card */